<div class="documento-list-container">
  <h2>Documentos da Obra</h2>

  <div class="upload-area">
    <div class="upload-content">
      <div class="file-input-wrapper">
        <input type="file" (change)="onFileSelected($event)" #fileInput hidden>
        <button type="button" class="custom-file-button" (click)="fileInput.click()"><img src="img/uploadIcon.svg" alt=""> Escolher Arquivo</button>
        <span class="file-name">{{ selectedFile ? selectedFile.name : 'Nenhum arquivo selecionado' }}</span>
      </div>
      <select [(ngModel)]="selectedFolder" class="folder-select">
        <option value="" disabled selected>Selecione a pasta</option>
        <option value="Contratos">Contratos</option>
        <option value="Relatorios">Relatórios</option>        <option value="Diarios">Diários</option>
      </select>
      <button class="btn-attach" (click)="onUpload()" [disabled]="!selectedFile"><img src="img/sendIcon.svg" alt=""> Anexar Documento</button>
      <div *ngIf="uploadProgress > 0 && uploadProgress < 100">
        Progresso do Upload: {{ uploadProgress }}%
      </div>
      <div *ngIf="uploadProgress === 100">
        Upload Concluído!
      </div>
      <p class="upload-info">Arraste e solte arquivos aqui ou clique para selecionar.</p>
    </div>
  </div>

  <div *ngIf="documentos.length > 0; else noDocuments" class="document-folders">
    <div *ngFor="let folderName of (groupedDocuments | keyvalue)" class="folder-box">
      <h3><img src="img/redIcons/folderIcon.svg" alt="Folder Icon" class="folder-icon"> {{ folderName.key }}</h3>
      <div class="document-list">
        <div *ngFor="let documento of folderName.value" class="document-item">
          <div class="document-info">
            <span class="document-name">{{ documento.nome }}</span>
            <span class="document-size">{{ formatBytes(documento.tamanhoArquivo) }}</span>
            <span class="document-date">{{ documento.dataAnexamento | date:'dd/MM/yyyy' }}</span>
          </div>
          <div class="document-actions">
            <button (click)="onDownload(documento)"><img src="img/saveIcon.svg" alt=""> Download</button>
            <button class="btn-delete-document" (click)="onDelete(documento)"><img src="img/trashIcon.svg" alt=""> Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noDocuments>
    <p>Nenhum documento encontrado para esta obra.</p>
  </ng-template>
</div>