.auth-page-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; 
}

.content-section {
  flex: 3; 
  background-color: #e53935; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
  img{
    width: 320px ;
    height: 320px;
    margin-bottom: 20px;
  }
}


.marketing-phrase h1 {
  font-size: 2.5rem;
  margin: 0;
}

.marketing-phrase p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 4px;
}

.form-section {
  flex: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
}

.login-card {
  width: 100%;
  max-width: 400px; 
  padding: 0rem 2rem 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 100px;
}

h2 {
  color: #333;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #ef4444; 
  outline: none;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}

.btn-primary {
  width: 100%;
  padding: 0.8rem;
  background-color: #e53935; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
}

.btn-primary:hover {
  background-color: #c62828; 
}

.error-message {
  color: #e53935;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.forgot-password {
  display: block;
  margin-top: 1rem;
  color: #e53935;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password:hover {
  text-decoration: underline;
}

.register-link {
  display: block;
  margin-top: 1rem;
  color: #e53935; 
  text-decoration: none;
  font-size: 0.9rem;
}

.register-link:hover {
  text-decoration: underline;
}

@media (max-width: 900px){
  .content-section {
    display: none; 
  }
}

@media (max-width: 768px) {
  .marketing-phrase h1 {
    font-size: 2rem;
  }

  .marketing-phrase p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .form-section {
    flex: 1; 
  }

  .login-card {
    box-shadow: none;
    padding: 1rem;
  }
}