<div class="obra-list-container">
  <h1>Lista de Obras</h1>

  <div class="custom-tab-menu">
    <button (click)="filterObras('Todas')" [class.active]="currentFilter === 'Todas'">Todas</button>
    <button (click)="filterObras('Em Andamento')" [class.active]="currentFilter === 'Em Andamento'">Em Andamento</button>
    <button (click)="filterObras('Em Manutenção')" [class.active]="currentFilter === 'Em Manutenção'">Em Manutenção</button>
    <button (click)="filterObras('Suspensa')" [class.active]="currentFilter === 'Suspensa'">Suspensa</button>
    <button (click)="filterObras('Finalizada')" [class.active]="currentFilter === 'Finalizada'">Finalizada</button>
  </div>

  <div *ngIf="loading" class="loading-message">Carregando obras...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div *ngIf="filteredObras.length > 0 && !loading" class="obra-cards">
    <div *ngFor="let obra of filteredObras" class="card work-item" [routerLink]="['/obras', obra.id]">
      <div class="work-title">
        <h4>{{ obra.nome }}</h4>
        <div class="pill" [ngClass]="getStatusClass(obra.status)">{{ getStatusName(obra.status) }}</div>
      </div>
      <div class="work-local">
        <img src="img/localIcon.svg" alt="">
        <p>{{ obra.localizacao }}</p>
      </div>
      <p>Início: {{ obra.dataInicio | date:'shortDate' }}</p>
      <p>Término: {{ obra.dataTermino | date:'shortDate' }}</p>
    </div>
  </div>

  <div *ngIf="filteredObras.length === 0 && !loading" class="no-data-message">
    Nenhuma obra encontrada.
  </div>
</div>