.obra-list-container {
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 100%;
  box-sizing: border-box;
}

h1 {
  text-align: left;
  margin-bottom: 1.5rem;
}

.loading-message, .error-message, .no-data-message {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.loading-message {
  background-color: #e0f2f7; // Light blue
  color: #0277bd;
}

.error-message {
  background-color: #ffebee; // Light red
  color: #c62828;
}

.no-data-message {
  background-color: #f5f5f5;
  color: #757575;
}

.obra-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.work-item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: none;
  border: 0.5px solid #ddd;
  transition: all 0.3s ease;
  padding: 14px 18px;
  &:hover {
    h4{
      color: #ef4444;
    }
    transform: translateY(-5px);
    border: 1.5px solid #ef4444;
    box-shadow: 6px 6px #ef444473;
    cursor: pointer;
  }

  .work-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .work-local {
    display: flex;
    align-items: center;
    gap: 6px;

    img {
      height: 20px;
      width: 20px;
    }
  }

  h4 {
    color: #333;
    margin: 0;
    font-size: 1.1rem;
  }

  p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    color: #555;
  }
}

.pill {
  font-size: 0.7rem;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.status-andamento {
  color: #2463ea;
  background-color: #e6f1f7;
  border-color: #2463ea;
}

.status-manutencao {
  color: #f59e0b;
  background-color: #fef9e7;
  border-color: #f59e0b;
}

.status-suspensa {
  color: #ef4444;
  background-color: #feeded;
  border-color: #ef4444;
}

.status-finalizada {
  color: #10b981;
  background-color: #e7f8f3;
  border-color: #10b981;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 320px) {
  .obra-list-container {
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .obra-cards {
    grid-template-columns: 1fr; // Stack cards on very small screens
  }

  .work-item {
    padding: 1rem;
  }

  .work-item h4 {
    font-size: 1rem;
  }

  .work-item p {
    font-size: 0.85rem;
  }
}
