.obra-detail-container {
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 100%;
  box-sizing: border-box;
}

h1{
  margin: 5px 0px;
}

.btn-back {
  background-color: #f0f0f0;
  color: #333;
  padding: 0.5rem 1rem; /* Smaller padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem; /* Smaller font size */
  margin-bottom: 1rem;
  transition: all 0.3s ease;

  &:hover {
    border-color: #ef4444; /* Red border on hover */
    color: #ef4444;
  }
}

h2 {
  color: #e53935; // Red
  margin-bottom: 0.5rem; /* Adjusted margin */
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.loading-message, .error-message {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.loading-message {
  background-color: #e0f2f7; // Light blue
  color: #0277bd;
}

.error-message {
  background-color: #ffebee; // Light red
  color: #c62828;
}

.bg-progress-bar {
  border: 0.5px solid #ddd;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.progress-bar-container {
  margin-bottom: 1.5rem;
  text-align: center;
}

.progress-bar-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4{
    margin: 5px;
  }
  h2{
    color: red;
    margin: 5px;
  }
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #ef4444; /* Red color for the progress bar */
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}



.detail-section {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.detail-section:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.detail-section h3 {
  color: #e53935; // Red
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.detail-section p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.detail-section p strong {
  color: #333;
}

.detail-section ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.detail-section li {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.detail-section li a {
  color: #0277bd;
  text-decoration: none;
}

.detail-section li a:hover {
  text-decoration: underline;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 320px) {
  .obra-detail-container {
    padding: 0.5rem;
  }

  .btn-back {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .obra-details-card {
    padding: 1rem;
  }

  .detail-section h3 {
    font-size: 1rem;
  }

  .detail-section p, .detail-section li {
    font-size: 0.85rem;
  }
}
