<div class="register-container">
  <div class="card register-card">
    <img src="assets/logoMP.png" alt="MP Logo" class="logo">
    <h2>Cadastro</h2>
    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="nomeCompleto">Nome Completo</label>
        <input type="text" id="nomeCompleto" name="nomeCompleto" [(ngModel)]="registerData.nomeCompleto" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" [(ngModel)]="registerData.email" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" [(ngModel)]="registerData.password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Senha</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="registerData.confirmPassword" required>
      </div>
      <button type="submit" class="btn-primary">Cadastrar</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
      <a [routerLink]="['/login']" class="login-link">Já tem uma conta? Faça login</a>
    </form>
  </div>
</div>