<div class="auth-page-container">
  <div class="form-section">
    <div class="register-card">
      <img src="img/logoMP.png" alt="MP Logo" class="logo">
      <h2>Cadastro</h2>
      <form (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="nomeCompleto">Nome Completo</label>
          <input type="text" id="nomeCompleto" name="nomeCompleto" [(ngModel)]="registerData.nomeCompleto" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" [(ngModel)]="registerData.email" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" [(ngModel)]="registerData.password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmar Senha</label>
          <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="registerData.confirmPassword" required>
        </div>
        <div class="form-group custom-select-field">
          <label for="role">Perfil de Usuário</label>
          <select id="role" name="role" [(ngModel)]="registerData.role" required>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
        <button type="submit" class="btn-primary">Cadastrar</button>
        <a [routerLink]="['/login']" class="login-link">Já tem uma conta? Faça login</a>
      </form>
    </div>
  </div>
  <div class="content-section" data-aos="fade-left" data-aos-duration="2000">
    <img src="img/bannerMP.png" alt="Company Logo" class="company-logo">
    <div class="marketing-phrase">
      <h1>Sua Gestão de Obras Simplificada.</h1>
      <p>Conectando equipes, otimizando projetos e construindo o futuro.</p>
    </div>
  </div>
</div>