.header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 1rem;
    img {
      height: 60px;
    }
  }

  &__nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0.4rem;

        a {
          text-decoration: none;
          color: #e53935; /* Red text for non-active links */
          font-weight: 500;
          padding: 0.5rem 1rem; /* Add padding to make them look like buttons */
          border-radius: 8px; /* Rounded corners */
          transition: all 0.3s ease; /* Smooth transition */

          &:hover {
            background-color: rgba(229, 57, 53, 0.1); /* Light red background on hover */
          }

          &.active {
            background-color: #e53935; /* Red background for active link */
            color: #fff; /* White text for active link */
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
          }
        }
      }
    }
  }

  &__logout {
  }
}
