<header class="header">
  <div class="header__container">
    <div class="header__left">
      <div class="header__logo">
        <a routerLink="/dashboard">
          <img src="assets/logoMP.png" alt="Logo">
        </a>
      </div>
      <nav class="header__nav">
        <ul>
          <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="/obras" routerLinkActive="active">Obras</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__logout">
      <button (click)="logout()" class="btn-logout">Logout</button>
    </div>
  </div>
</header>