<div class="manutencao-list-container">
  <h2>Manutenção Mensal</h2>

  <div *ngIf="loading" class="loading-message">Processando...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div *ngIf="canManageManutencoes" class="card manutencao-form">
    <h3>Adicionar Nova Manutenção</h3>
    <form (ngSubmit)="addManutencao()">
      <div class="form-group">
        <label for="dataManutencao">Data da Manutenção</label>
        <input type="date" id="dataManutencao" name="dataManutencao" [(ngModel)]="newManutencao.dataManutencao" required>
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea id="descricao" name="descricao" [(ngModel)]="newManutencao.descricao" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <label for="foto">Foto (Opcional)</label>
        <div class="file-input-wrapper">
          <input type="file" id="foto" name="foto" (change)="onFileSelected($event)" #fileInput hidden>
          <button type="button" class="custom-file-button" (click)="fileInput.click()"><img src="img/uploadIcon.svg" alt=""> Escolher Arquivo</button>
          <span class="file-name">{{ selectedFile ? selectedFile.name : 'Nenhum arquivo selecionado' }}</span>
        </div>
      </div>
      <button type="submit" class="btn-primary"><img src="img/plusIcon.svg" alt=""> Adicionar Manutenção</button>
    </form>
  </div>

  <div *ngIf="manutencoes && manutencoes.length > 0" class="card manutencoes-display">
    <h4>Manutenções Registradas</h4>
    <ul>
      <li *ngFor="let manutencao of manutencoes" class="manutencao-item-card">
        <div class="manutencao-details">
          <p><strong>Data:</strong> {{ manutencao.dataManutencao | date:'shortDate' }}</p>
          <p><strong>Descrição:</strong> {{ manutencao.descricao }}</p>
          <div *ngIf="manutencao.hasFoto" class="manutencao-photo">
            <img [src]="getManutencaoPhotoUrl(manutencao.id)" alt="Foto da Manutenção" (click)="openImageModal(getManutencaoPhotoUrl(manutencao.id))">
          </div>
        </div>
        <div class="manutencao-actions">
          <button *ngIf="canManageManutencoes" (click)="deleteManutencao(manutencao.id)" class="btn-danger"><img src="img/trashIcon.svg" alt=""> Excluir</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="!manutencoes || manutencoes.length === 0 && !loading" class="no-data-message">
    Nenhuma manutenção registrada para esta obra.
  </div>
</div>

<!-- Image Modal Structure -->
<div *ngIf="showModal" class="image-modal-overlay" (click)="closeImageModal()">
  <div class="image-modal-content" (click)="$event.stopPropagation()">
    <span class="close-button" (click)="closeImageModal()">&times;</span>
    <img [src]="modalImageUrl" alt="Imagem Ampliada">
  </div>
</div>