.dashboard-container {
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 100%;
  box-sizing: border-box;
}

h1 {
  color: #1a0a0a;
  text-align: left;
  margin-bottom: 1.5rem;
}

.user-welcome-banner {
  display: flex;
  align-items: center;
  background-color: #e53935;
  color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative; // For spinner positioning

  .profile-pic-container {
    position: relative;
    margin-right: 1.5rem;

    .profile-pic, .profile-pic-initials {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #fff;
      color: #e53935;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      object-fit: cover; // Ensures the image covers the area without distortion
      border: 2px solid #fff;
    }

    .btn-change-pic {
      position: absolute;
      bottom: -5px;
      right: -5px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #ddd;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;

      img {
        width: 16px;
        height: 16px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .user-details {
    h2 {
      margin: 0 0 0.25rem 0;
      font-size: 1.5rem;
      font-weight: 300;
    }
    span{
      font-weight: 600;
    }

    p {
      margin: 0;
      font-size: 1rem;
      opacity: 0.9;
    }
  }

  .upload-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-message,
.error-message,
.no-data-message {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.loading-message {
  background-color: #e0f2f7; 
  color: #0277bd;
}

.error-message {
  background-color: #ffebee; 
  color: #c62828;
}

.no-data-message {
  background-color: #f5f5f5;
  color: #757575;
}

.summary-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.card-stats {
  min-width: 270px;
  padding: 14px 18px;
  border: 0.5px solid #ddd;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.card-user-info {
  border-left: 5px solid #2196F3; // Blue
}

.card-total {
  border-left: 5px solid #a814bd;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px #a914bd7a;
  }
}

.card-em-andamento {
  border-left: 5px solid #2463EA;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px #2463ea68;
  }
}

.card-em-manutencao {
  border-left: 5px solid #F59E0B;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px #f59f0b5b;
  }
}

.card-suspensas {
  border-left: 5px solid #EF4444;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px #ef444473;
  }
}

.card-finalizadas {
  border-left: 5px solid #10B981;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px #10b98172;
  }
}

.descricao-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: left;

  h1 {
    margin: 0px;
  }

  p {
    margin: 0px;
    font-size: 0.8rem;
    color: #8e8d8dd4;
  }

  h3 {
    font-size: 1rem;
    margin: 0px;
    font-weight: 400;
  }
}

.recent-works {
  box-shadow: none;
  border: 0.5px solid #ddd;

  h2 {

    margin: 0;
    text-align: left;
  }

  p {
    color: #5b59599e;
    margin: 4px;
    margin-bottom: 1.1rem;
  }
}

.work-list {
  display: grid;
  gap: 1rem;
}

.main-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  button{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #9d1818;
    }
  }
}


.work-item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: none;
  border: 0.5px solid #ddd;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    border: 1.5px solid red;
    box-shadow: 6px 6px #c9210eb3;
    cursor: pointer;
  }

  .work-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .work-local {
    display: flex;
    align-items: center;
    gap: 6px;

    img {
      height: 20px;
      width: 20px;
    }
  }
}

.pill {
  font-size: 0.7rem;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.work-item h4 {
  color: #333;
  margin: 0;
  font-size: 1.1rem;
}

.work-item p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: #555;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto 2rem auto;
}

@media (max-width: 768px) {
  .user-welcome-banner {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .profile-pic {
      margin-right: 0;
      margin-bottom: 1rem;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
    }

    .user-details {
      h2 {
        font-size: 1.2rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }

  .main-title{
    flex-direction: column;
    justify-content: center;
    button{
      margin-bottom: 20px;
    }
  }
  .work-item{
    .work-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  }
  
}

@media (max-width: 320px) {
  .dashboard-container {
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .summary-cards {
    grid-template-columns: 1fr; 
  }

  .card h3 {
    font-size: 0.9rem;
  }

  .card p {
    font-size: 1.2rem;
  }

  .recent-works {
    padding: 1rem;
  }

  .work-item h4 {
    font-size: 1rem;
  }
}

.status-andamento {
  color: #2463ea;
  background-color: #e6f1f7;
  border-color: #2463ea;
}

.status-manutencao {
  color: #f59e0b;
  background-color: #fef9e7;
  border-color: #f59e0b;
}

.status-suspensa {
  color: #ef4444;
  background-color: #feeded;
  border-color: #ef4444;
}

.status-finalizada {
  color: #10b981;
  background-color: #e7f8f3;
  border-color: #10b981;
}
