<div class="dashboard-container">
  <h1>Dashboard</h1>

  <div *ngIf="loading" class="loading-message">Loading dashboard data...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div *ngIf="dashboardSummary && !loading" class="summary-cards">
    <div class="card-stats card-total">
      <div class="descricao-card">
        <h3>Total</h3>
        <h1>{{ dashboardSummary.totalObras }}</h1>
        <p>Total de Obras</p>
      </div>
      <article>
        <img src="img/equalsIcon.svg" alt="">
      </article>
    </div>

    <div class="card-stats card-em-andamento">
      <div class="descricao-card">
        <h3>Em Andamento</h3>
        <h1>{{ dashboardSummary.obrasEmAndamento }}</h1>
        <p>Obras em execução</p>
      </div>
      <article>
        <img src="img/buildingIcon.svg" alt="">
      </article>
    </div>

    <div class="card-stats card-em-manutencao">
      <div class="descricao-card">
        <h3>Em Manutenção</h3>
        <h1>{{ dashboardSummary.obrasEmManutencao }}</h1>
        <p>Requerendo manutenção</p>
      </div>
      <article>
        <img src="img/maintenanceIcon.svg" alt="">
      </article>
    </div>

    <div class="card-stats card-suspensas">
      <div class="descricao-card">
        <h3>Suspensas</h3>
        <h1>{{ dashboardSummary.obrasSuspensas }}</h1>
        <p>Obras pausadas</p>
      </div>
      <article>
        <img src="img/pauseIcon.svg" alt="">
      </article>
    </div>

    <div class="card-stats card-finalizadas">
      <div class="descricao-card">
        <h3>Finalizadas</h3>
        <h1>{{ dashboardSummary.obrasFinalizadas }}</h1>
        <p>Concluídos com sucesso</p>
      </div>
      <article>
        <img src="img/checkIcon.svg" alt="">
      </article>
    </div>
  </div>

  <ng-container *ngIf="dashboardSummary?.obrasRecentes as obrasRecentes">
    <div *ngIf="obrasRecentes.length > 0" class="card recent-works">
      <div class="main-title">
        <div>
        <h2>Obras Recentes</h2>
        <p>Acompanhe o progresso das obras em andamento</p>
      </div>
      <button [routerLink]="['/obras/criar']"><img src="img/plusIcon.svg" alt=""> Nova Obra</button>
      </div>
      
      <div class="work-list">
        <div *ngFor="let obra of obrasRecentes" class="card work-item" [routerLink]="['/obras', obra.id]">
          <div class="work-title">
            <h4>{{ obra.nome }}</h4>
            <div class="pill" [ngClass]="getStatusClass(obra.status)">{{ getStatusName(obra.status) }}</div>
          </div>
          <div class="work-local"><img src="img/localIcon.svg" alt="">
            <p>{{ obra.localizacao }}</p>
          </div>
          <p>Início: {{ obra.dataInicio | date:'shortDate' }}</p>
          <p>Término: {{ obra.dataTermino | date:'shortDate' }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="obrasRecentes.length === 0 && !loading" class="no-data-message">
      Nenhuma obra recente para exibir.
    </div>
  </ng-container>

  <div *ngIf="!dashboardSummary?.obrasRecentes && !loading" class="no-data-message">
    Nenhuma obra recente para exibir.
  </div>
</div>